[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
attrs = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cryptography = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
et-xmlfile = "*"
h11 = "*"
idna = "*"
numpy = "*"
openpyxl = "*"
outcome = "*"
pandas = "*"
"pdfminer.six" = "*"
pdfplumber = "*"
pillow = "*"
pycparser = "*"
pyjwt = "*"
pypdf2 = "*"
pypdfium2 = "*"
pysocks = "*"
python-dateutil = "*"
pytz = "*"
selenium = "*"
six = "*"
sniffio = "*"
sortedcontainers = "*"
sqlparse = "*"
trio = "*"
trio-websocket = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
websocket-client = "*"
wsproto = "*"

[dev-packages]

[requires]
python_version = "3.12"